.footer {
  background-color: #a5eb57;
  padding: 36px 36px;
  display: grid;
  grid-template-columns: 150px 1fr 50px 1fr 150px;
  grid-template-areas: "Text . Year . Links";
  font-size: 18px;
}

.footer .footer-text {
  grid-area: Text;
  align-self: flex-end;
  margin: 0px;
  color: #fff;
}

.footer .footer-year {
  grid-area: Year;
  align-self: flex-end;
  color: #fff;
  font-size: 18px;
}

.footer .footer-links {
  grid-area: Links;
  list-style-type: none;
}

.footer .footer-links .footer-link {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}
