.header {
  z-index: 10;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: fixed;

  .links-container {
    display: flex;
    column-gap: 30px;
    list-style-type: none;
    background: linear-gradient(to right, transparent, rgba(255, 68, 0, 0.7));
    padding: 15px 36px 15px 100px;

    .list-item {
      .header-link {
        text-decoration: none;
        color: #fff;
        text-transform: capitalize;
        font-size: 18px;
        font-style: italic;
        font-weight: 500;
      }
    }
  }
}
